@import url(../node_modules/spectre.css/dist/spectre.css);
@import url(../node_modules/spectre.css/dist/spectre-exp.css);
@import url(../node_modules/smalltalk/dist/smalltalk.min.css);
@import url(../node_modules/jodit/build/jodit.min.css);
.container {
  width: 75%;
}

.loader {
  position: absolute;
}

/*
Editable CSS
*/
body {
  background-color: skyblue;
}

/*
Post Container
*/
.posts {
  
}

#posts .post {
  background-color: white;
  margin-bottom: 20px;
}
/*
Überschrift
*/
#posts .post .panel-title {

}
/*
Inhalt
*/
#posts .post .panel-body {

}
#posts .post .panel-body img {
  width: 100%;
}
