@import url(../node_modules/spectre.css/dist/spectre.css);
@import url(../node_modules/spectre.css/dist/spectre-exp.css);
@import url(../node_modules/smalltalk/dist/smalltalk.min.css);
@import url(../node_modules/jodit/build/jodit.min.css);
.container {
  width: 75%;
}

.loader {
  position: absolute;
}

/*
Editable CSS
*/
body {
  background-color: skyblue;
}

.posts {
  // css class für den Post-Container
}

.posts .post {
  // Container für posts
  background-color: white;
  margin-bottom: 20px;
}
.posts .post .panel-title {
  // Die Überschrift
}
.posts .post .panel-body {
  //Container für den Inhalt
}
.posts .post .panel-body img {
  width: 100%;
}
