@import "../node_modules/spectre.css/dist/spectre.css";
@import "../node_modules/spectre.css/dist/spectre-exp.css";
@import "../node_modules/smalltalk/dist/smalltalk.min.css";
body {
    background-color: skyblue;
}
.container {
    width: 75%;
}
.panel {
    background-color: white;
    margin-bottom: 20px;
}
.loader {
    position: absolute;
}